body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightsalmon;
  color: white;
  border-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: white;
  border: solid 2px lightsalmon;
  color: lightsalmon;
}
